html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../Images/bg.jpg");
  background-size: cover;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

main,
header {
  width: 70%;
  margin: 0 auto;
}

#logo img {
  width: 15%;
  margin: 4em 0;
}

#instructions {
  width: 70%;
  font-size: 20px;
}

#title {
  font-weight: normal;
  font-size: 5em;
  line-height: 0.8em;
  margin-top: 10px;
}

#instructionsTitle {
  color: #d20094;
  line-height: 1px;
}

#description {
  width: 80%;
}

#instructionList {
  margin: 50px 0;
}

#instructionList li {
    line-height: 1.5em;
}

#proceed {
  margin-top: 5em;
  width: 100%;
}

input[type='checkbox'] {
  cursor: pointer;
  font: inherit;
  width: 1.5em;
  height: 1.5em;
  color: transparent;
  border: 10px solid black;
}

#proceed button {
  float: right;
  cursor: pointer;
  width: 12em;
  height: 3em;
  margin-right: 5em;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #00ffff;
  box-shadow: 3px 3px 1.2em #00ffff, -3px -3px 1.2em #00ffff;
}
footer {
    height: 10vh;
}
